* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
    padding: 0 15px 15px;
}

.page nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo i {
    color: #fabb29d6;
    font-size: 30px;
    margin: 10px;
}

nav .logo h1 {
    color: rgb(223, 191, 14);
    font-size: 40px;
}

nav ul li {
    display: inline-block;
    margin-left: 50px;
    height: 80px;
    position: relative;
    line-height: 80px;
    cursor: pointer;
}

nav ul li a {
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.page .content {
    width: 100%;
    height: calc(100vh - 95px);
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.content .text span {
    color: rgba(60, 69, 248, 0.646);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
}

.content .text h3 {
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 50px;
    font-weight: normal;
    margin: 20px 0 8px;
    color: rgb(22, 204, 254);
}

.content .text h1 {
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: black;
    margin-bottom: 25px;
}

.content .text p {
    color: rgb(255, 0, 0);
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.3px;
    margin-bottom: 55px;
}

.content .text .btn {
    padding: 15px 35px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.content .text .btn:hover {
    color: black;
    background-color: white;
}

.content .img img {
    width: 700px;
    height: 80%;
}

.page1 {
    width: 100%;
    height: 200vh;
    margin-right: 20px;
}

.page1 h1 {
    font-size: 55px;
    font-weight: bold;
    margin-left: 40%;
    padding: 20px;
    color: rgb(255, 0, 0);
    margin-bottom: 25px;
}

.page1 h1 span {
    color: rgba(221, 133, 0, 0.954);
}

.page1 img {
    height: 305px;
    background-color: white;
    border-radius: 10%;
    margin: 40px;
}

.btn {
    padding: 15px 154px;
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin: 5px;
}

.btn:hover {
    color: #fff;
    background-color: black;
}

.menu1 h3 {
    display: inline;
    padding: 124px 124px;
    margin: auto;
    font-size: 20px;
}

.page1 img {
    height: 350px;
    width: 350px;
    background-color: white;
    border-radius: 15%;    
}

.menu2 h3 {
    display: inline;
    padding: 124px 120px;
    margin: auto;
    font-size: 25px;
}

.page2 {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    gap: 3rem;
    padding-left: 50px;
    padding-right: 100px;
    margin-top: 130px;
    background-color: #22deff;
}

.order hi {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 50px;
}

.order hi span {
    color: blue;
}

.order-form form {
    position: relative;
}

.order-form form input,
form textarea {
    outline: none;
    width: 90%;
    padding: 18px;
    background: #22deff;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.order-form textarea {
    resize: none;
    height: 220px;
}

.order-form form .send {
    display: inline-block;
    padding: 12px 60px;
    background: blue;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}